{% extends "base.html" %}
{% block body %}
<!-- JAVA script 활용버전 -->
<!-- <script>
$(document).ready(function() {
  (function appendYear(){
  	var date = new Date();
  	var year = date.getFullYear();
  	var selectValue = document.getElementById("year");
  	var optionIndex = 0;
    for(var i=year+5;i>=year;i--){
  			selectValue.add(new Option(i,i),optionIndex++);
  	}
  })();

  (function appendStartMonth(){
  	var selectValue = document.getElementById("startMonth");
  	var optionIndex = 0;
  	for(var i=1;i<=12;i++){
  			selectValue.add(new Option(i,i),optionIndex++);
  	}
  })();

  (function appendEndMonth(){
  	var selectValue = document.getElementById("endMonth");
  	var optionIndex = 0;
  	for(var i=1;i<=12;i++){
  			selectValue.add(new Option(i,i),optionIndex++);
  	}
  })();

  (function appendStartDate(){
  	var selectValue = document.getElementById("startDate");
  	var optionIndex = 0;
  	for(var i=1;i<=31;i++){
  			selectValue.add(new Option(i,i),optionIndex++);
  	}
  })();

  (function appendEndDate(){
  	var selectValue = document.getElementById("endDate");
  	var optionIndex = 0;
  	for(var i=1;i<=31;i++){
  			selectValue.add(new Option(i,i),optionIndex++);
  	}
  })();
});
</script>

<div class="container">
  <form class="form-vacationdate" method="post" action="">
    {% csrf_token %}
    <div class="selectbox">
        <select id="year" name="year">
            <option>Year</option>
        </select>년
        <select id="startMonth" name="startMonth">
            <option>Month</option>
        </select>월
        <select id="startDate" name="startDate">
            <option>Date</option>
        </select>일 ~
        <select id="endMonth" name="endMonth">
            <option>Date</option>
        <select id="endDate" name="endDate">
            <option>Date</option>
        </select>일
    </div>
    </br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">제출</button>
  </form>
</div> -->
<div class="container">
  <div class="to-middle">
    <div class="jumbotron">
      <h1 class="jumbotron-h1">휴가 계획을 입력해주세요</h1>
      <p class="lead">
        {% if user.authemployee.department == 'nw' %}
          IDC Network team, {{ request.user.authemployee.realName }}
        {% elif user.authemployee.department == 'sr' %}
          IDC Technology team, {{ request.user.authemployee.realName }}
        {% endif %}
      </p>
      <form class="form-vacationdate" method="post" action="">
        {% csrf_token %}
        <div class="fieldWrapper-start">
            {{ vacation_form.startVacation.errors }}
            <label for="{{ form.startVacation.id_for_label }}">
              시작일:
            </label>
            {{ vacation_form.startVacation }}
        </div>
        <div class="fieldWrapper-end">
            {{ vacation_form.endVacation.errors }}
            <label for="{{ form.endVacation.id_for_label }}">
              종료일:
            </label>
            {{ vacation_form.endVacation }}
        </div>
        <p class="lead">
            <br>
            <button class="btn btn-lg btn-primary" type="submit">제&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;출</button>
        </p>
      </form>
    </div>
  </div>
</div>


{% endblock %}
