{% extends "base.html" %}
{% block body %}
<script>
  var model;
  $(document).ready(function() {
    $(".vacationNW").on("mouseover", function() { mouseOver(this) })
    $(".vacationNW").on("mouseout", function() { mouseOut(this) })
    $(".vacationNW").on("mousemove", function() { mouseMove(this) })

    $(".vacationSVR").on("mouseover", function() { mouseOver(this) })
    $(".vacationSVR").on("mouseout", function() { mouseOut(this) })
    $(".vacationSVR").on("mousemove", function() { mouseMove(this) })

    model = {{ employee|safe }};
  });



  function mouseOver(target) {
    console.log("over")
      //document.getElementById("papa").style.color = "red";
      //event.target.style.color = "red";
      //target.css
      //jQuery(target).css('color', 'red');
      var selectNW = "";
      var selectSVR = "";

      for(var i=0 ; i<model.length ; i++) {
        if("day"+model[i].vacationDate == jQuery(target).parent().parent().attr('id')) {
          //selected.push(model[i]);
          if (model[i].department == 'nw') {
              selectNW += model[i].name + " ";
          }
          else if (model[i].department == 'sr') {
              selectSVR += model[i].name + " ";
          }
        }
      }
      if (jQuery(target).attr('class') == "vacationNW") {
        $("#popup").html(selectNW)
      }
      else if (jQuery(target).attr('class') == "vacationSVR") {
        $("#popup").html(selectSVR)
      }

      $("#popup").css('display', 'block')
  }

  function mouseOut(target) {
    //jQuery(target).css('color', 'blue');
    console.log("out")
      $("#popup").css('display', 'none')
      $("#popup").html()
  }

  function mouseMove(target) {
    console.log("move")
    //jQuery(target).css('color', 'purple');
    $("#popup").css('left', (event.clientX+10) + 'px')
    $("#popup").css('top', (event.clientY) + 'px')
  }
</script>

<div class="fluid-container">
  <div>
    {{ calendar }}
  </div>
  <div class="to-no-answer">
    <br>
    <form align-items="center">
      <button class="btn btn-lg btn-danger" type="button" onclick="location.href='{% url 'noAnswer' %}'">
          미응답자 목록으로
      </button>
    </form>
  </div>
</div>
<div id='popup'></div>

{% endblock %}
