td {
  bottom: 0px;
  left: 0px;
  font-size: 20px;
  text-align: right;
  font-weight: bold
  padding: 10px 10px 3px 0px;
  width: 110px;
  max-width: 110px;
  height: 110px;
  max-height: 110px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  table-layout: fixed;
  word-break: break-all;
}

th {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  text-align: center;
  font-size: 15px;
  background-color: #eee;
}

tbody {
  vertical-align: top
}

.month {
  width: 100%;
  max-width: 100%;
  border: 1;
  font-size: 35px;
}

.vacationNW {
  font-size: 14px;
  text-align: left;
  background-color: #0073b7;
  color: white;
  border-radius: 5px;
}

.vacationSVR {
  font-size: 14px;
  text-align: left;
  background-color: #00c0ef;
  color: white;
  border-radius: 5px;
}

#popup {
  position: absolute;
  display: none;
  background-color: #fcf8e3;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  padding: 3px 3px 3px 3px;
  vertical-align: middle;
}
